// Color variales
$page-backgr:#c3cfe2;
$text-backgr:#fff;
$footer-backgr:#686de0;
$footer-text-clr:#fff;
$content-text-clr:#000;
$image-border-clr:#000;

// Social links colors
$social-facebook:#3b5998;
$social-twitter:#00aced;
$social-github:#333;
$social-linkedin:#007bb6;
$social-blog:#e17b77;

// font property
$cont-font-size:5vw;


// site property
$screen-width-tablet:768px;
$screen-width-desktop:1024px;
$social-square:50px;
$image-square:150px;
$border-prop:solid;
$border-size:10px;

//Testomonial screen settings
$scr-max-400:400px;
$scr-min-401:401px;


body{
    background-color:$page-backgr;
    font-size: $cont-font-size;
    text-align: center;
    margin: 0;
    padding: 0;
}

//test variables
$square:120px;